@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/fira-mono';

@font-face {
  font-family: 'icons';
  src: url('/fonts/icons.woff?d155094fc780835634993ea719ec6093') format('woff');
}

i[class^='icon-']:before,
i[class*=' icon-']:before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-actions:before {
  content: '\f101';
}
.icon-api-key:before {
  content: '\f102';
}
.icon-arrow-down:before {
  content: '\f103';
}
.icon-arrow-left:before {
  content: '\f104';
}
.icon-arrow-right:before {
  content: '\f105';
}
.icon-bitcoin:before {
  content: '\f106';
}
.icon-bonus:before {
  content: '\f107';
}
.icon-calendar:before {
  content: '\f108';
}
.icon-check:before {
  content: '\f109';
}
.icon-chevron-down:before {
  content: '\f10a';
}
.icon-chevron-up-down:before {
  content: '\f10b';
}
.icon-chevron-up:before {
  content: '\f10c';
}
.icon-clocks:before {
  content: '\f10d';
}
.icon-close:before {
  content: '\f10e';
}
.icon-complete:before {
  content: '\f10f';
}
.icon-copy:before {
  content: '\f110';
}
.icon-delete:before {
  content: '\f111';
}
.icon-edit:before {
  content: '\f112';
}
.icon-logout:before {
  content: '\f113';
}
.icon-max:before {
  content: '\f114';
}
.icon-menu:before {
  content: '\f115';
}
.icon-more:before {
  content: '\f116';
}
.icon-pay-now:before {
  content: '\f117';
}
.icon-pay:before {
  content: '\f118';
}
.icon-plus:before {
  content: '\f119';
}
.icon-repeat:before {
  content: '\f11a';
}
.icon-replenish:before {
  content: '\f11b';
}
.icon-scan:before {
  content: '\f11c';
}
.icon-settings:before {
  content: '\f11d';
}
.icon-stats:before {
  content: '\f11e';
}
.icon-transactions:before {
  content: '\f11f';
}
.icon-transfer:before {
  content: '\f120';
}
.icon-users:before {
  content: '\f121';
}
.icon-wallet:before {
  content: '\f122';
}
.icon-withdraw:before {
  content: '\f123';
}
